.git
.github
.logs
node_modules
**/node_modules
**/node_modules/**
packages/*/node_modules
packages/*/node_modules/**
dist
**/dist
**/dist/**
packages/*/dist
packages/*/dist/**
build
**/build
**/build/**
data
**/data
**/data/**
.env
.env.*
!.env.example
!.env.production.example
.pnpm-store
**/.cache
coverage
**/coverage
*.tsbuildinfo
**/*.tsbuildinfo
