POSTGRES_DB=pic_content_system
POSTGRES_USER=pic
POSTGRES_PASSWORD=change-this-database-password
ACCESS_TOKEN=change-this-access-token
APP_PORT=3000
APP_IMAGE=pic-content-system:local
RUN_MIGRATIONS=true
